In [2]:
import os
import sys

os.environ["SPARK_HOME"] = "/usr/spark2.4.3"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/local/anaconda/bin/python" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/local/anaconda/bin/python"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [6]:
import pyspark

In [4]:
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [5]:
sc=SparkContext()
sc

In [15]:
from pyspark.sql import SparkSession
spark=SparkSession \
.builder \
.appName("Analyzing Names Data") \
.getOrCreate()

In [17]:
data = spark.read\
       .format('csv')\
       .option('header','true')\
       .load('sparkfile/NationalNames.csv')

In [18]:
type(data)

pyspark.sql.dataframe.DataFrame

In [20]:
data.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Count: string (nullable = true)

In [23]:
data=data.withColumn("Year",data["Year"].cast('int'))
data=data.withColumn("Count",data["Count"].cast('long'))
data.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Count: long (nullable = true)

In [24]:
data.count()

1825433

In [25]:
data.limit(5).show()

+---+---------+----+------+-----+
| Id|     Name|Year|Gender|Count|
+---+---------+----+------+-----+
|  1|     Mary|1880|     F| 7065|
|  2|     Anna|1880|     F| 2604|
|  3|     Emma|1880|     F| 2003|
|  4|Elizabeth|1880|     F| 1939|
|  5|   Minnie|1880|     F| 1746|
+---+---------+----+------+-----+

In [26]:
data.dropna()

DataFrame[Id: string, Name: string, Year: int, Gender: string, Count: bigint]

In [27]:
data.count()

1825433

In [28]:
data=data.drop('Id')

In [29]:
data.show(5)

+---------+----+------+-----+
|     Name|Year|Gender|Count|
+---------+----+------+-----+
|     Mary|1880|     F| 7065|
|     Anna|1880|     F| 2604|
|     Emma|1880|     F| 2003|
|Elizabeth|1880|     F| 1939|
|   Minnie|1880|     F| 1746|
+---------+----+------+-----+
only showing top 5 rows