In [12]:
#environment initilization and module import
import os
import sys
os.environ["SPARK_HOME"] = "/usr/spark2.4.3"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/local/anaconda/bin/python" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/local/anaconda/bin/python"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [13]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.types import Row
from datetime import datetime

In [31]:
sc = SparkContext.getOrCreate();
sc
spark = SparkSession(sc)

In [25]:
data=sc.parallelize([1,'test',12])
data

ParallelCollectionRDD[6] at parallelize at PythonRDD.scala:195

In [26]:
data.collect()

[1, 'test', 12]

In [32]:
data1=sc.parallelize([[1,'test1',13],[2,'test2',14]])

In [33]:
data1.collect()

[[1, 'test1', 13], [2, 'test2', 14]]

In [35]:
df1=data1.toDF()
df1
df1.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|test1| 13|
|  2|test2| 14|
+---+-----+---+

In [37]:
td=sc.parallelize([[1,'test2',12],[2,'test3',13]])
td

ParallelCollectionRDD[28] at parallelize at PythonRDD.scala:195

In [38]:
td.collect()

[[1, 'test2', 12], [2, 'test3', 13]]

In [41]:
df=td.toDF()
df
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|test2| 12|
|  2|test3| 13|
+---+-----+---+

In [42]:
data2=sc.parallelize([Row(index=3,Name='test3',dep=30)])

In [43]:
data2.collect()

[Row(Name='test3', dep=30, index=3)]

In [45]:
df3=data2.toDF()
df3.show()

+-----+---+-----+
| Name|dep|index|
+-----+---+-----+
|test3| 30|    3|
+-----+---+-----+

In [46]:
data3=sc.parallelize([Row(index=3,Name='test3',dep=30),
                    Row(index=4,Name='test4',dep=40),
                      Row(index=5,Name='test5',dep=50)])

In [47]:
data3.collect()

[Row(Name='test3', dep=30, index=3),
 Row(Name='test4', dep=40, index=4),
 Row(Name='test5', dep=50, index=5)]

In [48]:
df4=data3.toDF()

In [49]:
df4.show()

+-----+---+-----+
| Name|dep|index|
+-----+---+-----+
|test3| 30|    3|
|test4| 40|    4|
|test5| 50|    5|
+-----+---+-----+

In [50]:
complex_data1=sc.parallelize([Row(col_string='msk',
                            col_double=3.14,
                             col_integer=30)
                             ])

In [51]:
df_cd1=complex_data1.toDF()

In [52]:
df_cd1

DataFrame[col_double: double, col_integer: bigint, col_string: string]

In [53]:
df_cd1.show()

+----------+-----------+----------+
|col_double|col_integer|col_string|
+----------+-----------+----------+
|      3.14|         30|       msk|
+----------+-----------+----------+

In [54]:
complex_data2=sc.parallelize([Row(col_string='msk',
                            col_double=3.14,
                             col_integer=30,
                                 col_Boolean=True,
                                 col_list=[1,2,3])
                             ])

In [55]:
df_cd2=complex_data2.toDF()
df_cd2.show()

+-----------+----------+-----------+---------+----------+
|col_Boolean|col_double|col_integer| col_list|col_string|
+-----------+----------+-----------+---------+----------+
|       true|      3.14|         30|[1, 2, 3]|       msk|
+-----------+----------+-----------+---------+----------+

In [56]:
df_cd2

DataFrame[col_Boolean: boolean, col_double: double, col_integer: bigint, col_list: array<bigint>, col_string: string]

In [57]:
complex_data3=sc.parallelize([Row
                             (
                             col_list=[2,4,6],
                             col_dic={"a":0},
                             col_row=Row(x=5,y=7,z=9),
                             col_time=datetime(2020,7,1,14,1,3)
                             )
                             ])

In [58]:
df_cd4=complex_data3.toDF()

In [59]:
df_cd4

DataFrame[col_dic: map<string,bigint>, col_list: array<bigint>, col_row: struct<x:bigint,y:bigint,z:bigint>, col_time: timestamp]

In [60]:
df_cd4.show()

+--------+---------+---------+-------------------+
| col_dic| col_list|  col_row|           col_time|
+--------+---------+---------+-------------------+
|[a -> 0]|[2, 4, 6]|[5, 7, 9]|2020-07-01 14:01:03|
+--------+---------+---------+-------------------+

In [117]:
complex_data4=sc.parallelize([Row
                             (
                            col_name='test1' ,
                                 col_int=1,
                                 col_double=10.5,
                            col_list=[2,4,6],
                             col_dic={"a":0},
                             col_row=Row(x=5,y=7,z=9),
                             col_time=datetime(2020,7,1,14,1,3)
                             ),
                            Row
                             (
                                 col_name='test2' ,
                                  col_int=2,
                                 col_double=11.5,
                             col_list=[2,4,6,8,10,12],
                             col_dic={"a":0,"b":1,"c":2},
                             col_row=Row(x=11,y=13,z=15),
                             col_time=datetime(2020,7,1,14,1,4)
                             ),
                              Row
                             (
                                 col_name='test3' ,
                                 col_int=3,
                                 col_double=12.5,
                             col_list=[2,4,6,8,10,12,14,16,18],
                             col_dic={"a":0,"b":1,"c":2,"d":3,"e":4,"f":5},
                             col_row=Row(x=17,y=19,z=21),
                             col_time=datetime(2020,7,1,14,1,5)
                             )
                             ])

In [118]:
complex_data4.collect()

[Row(col_dic={'a': 0}, col_double=10.5, col_int=1, col_list=[2, 4, 6], col_name='test1', col_row=Row(x=5, y=7, z=9), col_time=datetime.datetime(2020, 7, 1, 14, 1, 3)),
 Row(col_dic={'a': 0, 'b': 1, 'c': 2}, col_double=11.5, col_int=2, col_list=[2, 4, 6, 8, 10, 12], col_name='test2', col_row=Row(x=11, y=13, z=15), col_time=datetime.datetime(2020, 7, 1, 14, 1, 4)),
 Row(col_dic={'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}, col_double=12.5, col_int=3, col_list=[2, 4, 6, 8, 10, 12, 14, 16, 18], col_name='test3', col_row=Row(x=17, y=19, z=21), col_time=datetime.datetime(2020, 7, 1, 14, 1, 5))]

In [119]:
df_cd5=complex_data4.toDF()

In [120]:
df_cd5

DataFrame[col_dic: map<string,bigint>, col_double: double, col_int: bigint, col_list: array<bigint>, col_name: string, col_row: struct<x:bigint,y:bigint,z:bigint>, col_time: timestamp]

In [121]:
df_cd5.first()

Row(col_dic={'a': 0}, col_double=10.5, col_int=1, col_list=[2, 4, 6], col_name='test1', col_row=Row(x=5, y=7, z=9), col_time=datetime.datetime(2020, 7, 1, 14, 1, 3))

In [110]:
df_cd5.take(2)

[Row(col_dic={'a': 0}, col_int=1, col_list=[2, 4, 6], col_name='test1', col_row=Row(x=5, y=7, z=9), col_time=datetime.datetime(2020, 7, 1, 14, 1, 3)),
 Row(col_dic={'a': 0, 'b': 1, 'c': 2}, col_int=2, col_list=[2, 4, 6, 8, 10, 12], col_name='test2', col_row=Row(x=11, y=13, z=15), col_time=datetime.datetime(2020, 7, 1, 14, 1, 4))]

In [112]:
df_cd5.collect()[0][1]

1

In [113]:
col_list=df_cd5.collect()[0][1]

In [98]:
col_list.append(100)

In [100]:
col_list

[2, 4, 6, 100]

In [114]:
df_cd5.show()

+--------------------+-------+--------------------+--------+------------+-------------------+
|             col_dic|col_int|            col_list|col_name|     col_row|           col_time|
+--------------------+-------+--------------------+--------+------------+-------------------+
|            [a -> 0]|      1|           [2, 4, 6]|   test1|   [5, 7, 9]|2020-07-01 14:01:03|
|[a -> 0, b -> 1, ...|      2|[2, 4, 6, 8, 10, 12]|   test2|[11, 13, 15]|2020-07-01 14:01:04|
|[a -> 0, b -> 1, ...|      3|[2, 4, 6, 8, 10, ...|   test3|[17, 19, 21]|2020-07-01 14:01:05|
+--------------------+-------+--------------------+--------+------------+-------------------+

In [102]:
df_cd5.rdd\
.map(lambda x: (x.col_dic,x.col_list))\
.collect()

[({'a': 0}, [2, 4, 6]),
 ({'a': 0, 'b': 1, 'c': 2}, [2, 4, 6, 8, 10, 12]),
 ({'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5},
  [2, 4, 6, 8, 10, 12, 14, 16, 18])]

In [115]:
df_cd5.select(
    'col_dic',
    'col_list'
).show()

+--------------------+--------------------+
|             col_dic|            col_list|
+--------------------+--------------------+
|            [a -> 0]|           [2, 4, 6]|
|[a -> 0, b -> 1, ...|[2, 4, 6, 8, 10, 12]|
|[a -> 0, b -> 1, ...|[2, 4, 6, 8, 10, ...|
+--------------------+--------------------+

In [116]:
df_cd5.rdd\
.map(lambda x: ('append '+ x.col_name))\
.collect()

['append test1', 'append test2', 'append test3']

In [123]:
df_cd5.select(
'col_int',
    'col_double'
)\
.withColumn(
    'col_sum',
        df_cd5.col_int + df_cd5.col_double
    )\
.show()

+-------+----------+-------+
|col_int|col_double|col_sum|
+-------+----------+-------+
|      1|      10.5|   11.5|
|      2|      11.5|   13.5|
|      3|      12.5|   15.5|
+-------+----------+-------+

In [127]:
df_cd5.withColumnRenamed('col_int','col_integer').show()

+--------------------+----------+-----------+--------------------+--------+------------+-------------------+
|             col_dic|col_double|col_integer|            col_list|col_name|     col_row|           col_time|
+--------------------+----------+-----------+--------------------+--------+------------+-------------------+
|            [a -> 0]|      10.5|          1|           [2, 4, 6]|   test1|   [5, 7, 9]|2020-07-01 14:01:03|
|[a -> 0, b -> 1, ...|      11.5|          2|[2, 4, 6, 8, 10, 12]|   test2|[11, 13, 15]|2020-07-01 14:01:04|
|[a -> 0, b -> 1, ...|      12.5|          3|[2, 4, 6, 8, 10, ...|   test3|[17, 19, 21]|2020-07-01 14:01:05|
+--------------------+----------+-----------+--------------------+--------+------------+-------------------+

In [130]:
df_cd5.select(df_cd5.col_int.alias('col_integer')).show()

+-----------+
|col_integer|
+-----------+
|          1|
|          2|
|          3|
+-----------+

In [131]:
import pandas

In [133]:
pdf=df_cd5.toPandas()
pdf

,col_dic,col_double,col_int,col_list,col_name,col_row,col_time
0,{'a': 0},10.5,1,"[2, 4, 6]",test1,"(5, 7, 9)",2020-07-01 14:01:03
1,"{'a': 0, 'b': 1, 'c': 2}",11.5,2,"[2, 4, 6, 8, 10, 12]",test2,"(11, 13, 15)",2020-07-01 14:01:04
2,"{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}",12.5,3,"[2, 4, 6, 8, 10, 12, 14, 16, 18]",test3,"(17, 19, 21)",2020-07-01 14:01:05

In [134]:
df_cd5.collect()

[Row(col_dic={'a': 0}, col_double=10.5, col_int=1, col_list=[2, 4, 6], col_name='test1', col_row=Row(x=5, y=7, z=9), col_time=datetime.datetime(2020, 7, 1, 14, 1, 3)),
 Row(col_dic={'a': 0, 'b': 1, 'c': 2}, col_double=11.5, col_int=2, col_list=[2, 4, 6, 8, 10, 12], col_name='test2', col_row=Row(x=11, y=13, z=15), col_time=datetime.datetime(2020, 7, 1, 14, 1, 4)),
 Row(col_dic={'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5}, col_double=12.5, col_int=3, col_list=[2, 4, 6, 8, 10, 12, 14, 16, 18], col_name='test3', col_row=Row(x=17, y=19, z=21), col_time=datetime.datetime(2020, 7, 1, 14, 1, 5))]

In [136]:
df_spark=sqlcontext.createDataFrame(pdf).show()

+--------------------+----------+-------+--------------------+--------+------------+-------------------+
|             col_dic|col_double|col_int|            col_list|col_name|     col_row|           col_time|
+--------------------+----------+-------+--------------------+--------+------------+-------------------+
|            [a -> 0]|      10.5|      1|           [2, 4, 6]|   test1|   [5, 7, 9]|2020-07-01 14:01:03|
|[a -> 0, b -> 1, ...|      11.5|      2|[2, 4, 6, 8, 10, 12]|   test2|[11, 13, 15]|2020-07-01 14:01:04|
|[a -> 0, b -> 1, ...|      12.5|      3|[2, 4, 6, 8, 10, ...|   test3|[17, 19, 21]|2020-07-01 14:01:05|
+--------------------+----------+-------+--------------------+--------+------------+-------------------+

In [66]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
sqlcontext=SQLContext(sc)

In [67]:
df_sc1=sqlcontext.range(5)
df_sc1

DataFrame[id: bigint]

In [68]:
df_sc1.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [69]:
data1=[('test1',10),
      ('test2',20),
      ('test3',30)]

In [70]:
data1

[('test1', 10), ('test2', 20), ('test3', 30)]

In [71]:
sqlcontext.createDataFrame(data1).show()

+-----+---+
|   _1| _2|
+-----+---+
|test1| 10|
|test2| 20|
|test3| 30|
+-----+---+

In [72]:
sqlcontext.createDataFrame(data1,['Name','Amount']).show()

+-----+------+
| Name|Amount|
+-----+------+
|test1|    10|
|test2|    20|
|test3|    30|
+-----+------+

In [73]:
complex_data1=([               (
                                1.0,
                                12,
                                'Test1',
                             [2,4,6],
                            {"a":0},
                             Row(x=5,y=7,z=9),
                             datetime(2020,7,1,14,1,3)
                             ),
                            
                             (
                                   2.0,
                                14,
                                'Test2',
                             [2,4,6,8,10,12],
                            {"a":0,"b":1,"c":2},
                             Row(x=11,y=13,z=15),
                             datetime(2020,7,1,14,1,4)
                             ),
                             
                             (
                                  3.0,
                                16,
                                'Test3',
                              [2,4,6,8,10,12,14,16,18],
                             {"a":0,"b":1,"c":2,"d":3,"e":4,"f":5},
                              Row(x=17,y=19,z=21),
                            datetime(2020,7,1,14,1,5)
                             )
                             ])

In [74]:
complex_data1

[(1.0,
  12,
  'Test1',
  [2, 4, 6],
  {'a': 0},
  Row(x=5, y=7, z=9),
  datetime.datetime(2020, 7, 1, 14, 1, 3)),
 (2.0,
  14,
  'Test2',
  [2, 4, 6, 8, 10, 12],
  {'a': 0, 'b': 1, 'c': 2},
  Row(x=11, y=13, z=15),
  datetime.datetime(2020, 7, 1, 14, 1, 4)),
 (3.0,
  16,
  'Test3',
  [2, 4, 6, 8, 10, 12, 14, 16, 18],
  {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5},
  Row(x=17, y=19, z=21),
  datetime.datetime(2020, 7, 1, 14, 1, 5))]

In [75]:
sqlcontext.createDataFrame(complex_data1).show()

+---+---+-----+--------------------+--------------------+------------+-------------------+
| _1| _2|   _3|                  _4|                  _5|          _6|                 _7|
+---+---+-----+--------------------+--------------------+------------+-------------------+
|1.0| 12|Test1|           [2, 4, 6]|            [a -> 0]|   [5, 7, 9]|2020-07-01 14:01:03|
|2.0| 14|Test2|[2, 4, 6, 8, 10, 12]|[a -> 0, b -> 1, ...|[11, 13, 15]|2020-07-01 14:01:04|
|3.0| 16|Test3|[2, 4, 6, 8, 10, ...|[a -> 0, b -> 1, ...|[17, 19, 21]|2020-07-01 14:01:05|
+---+---+-----+--------------------+--------------------+------------+-------------------+

In [76]:
sqlcontext.createDataFrame(complex_data1,['sno','test1','Name','list','Dic','Row','Date']).show()

+---+-----+-----+--------------------+--------------------+------------+-------------------+
|sno|test1| Name|                list|                 Dic|         Row|               Date|
+---+-----+-----+--------------------+--------------------+------------+-------------------+
|1.0|   12|Test1|           [2, 4, 6]|            [a -> 0]|   [5, 7, 9]|2020-07-01 14:01:03|
|2.0|   14|Test2|[2, 4, 6, 8, 10, 12]|[a -> 0, b -> 1, ...|[11, 13, 15]|2020-07-01 14:01:04|
|3.0|   16|Test3|[2, 4, 6, 8, 10, ...|[a -> 0, b -> 1, ...|[17, 19, 21]|2020-07-01 14:01:05|
+---+-----+-----+--------------------+--------------------+------------+-------------------+

In [77]:
data=sc.parallelize([
    Row(1,'Test1',20),
    Row(2,'Test2',30),
    Row(3,'Test3',40)
]
)

In [78]:
data.toDF(['sno','name','amt']).show()

+---+-----+---+
|sno| name|amt|
+---+-----+---+
|  1|Test1| 20|
|  2|Test2| 30|
|  3|Test3| 40|
+---+-----+---+

In [80]:
data.toDF().show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Test1| 20|
|  2|Test2| 30|
|  3|Test3| 40|
+---+-----+---+

In [81]:
column_names=Row('sno','name','amt')

In [82]:
column_names

In [88]:
cars=data.map(lambda r: column_names(*r))
cars
cars.collect()

[Row(sno=1, name='Test1', amt=20),
 Row(sno=2, name='Test2', amt=30),
 Row(sno=3, name='Test3', amt=40)]

In [90]:
obj1_df=sqlcontext.createDataFrame(cars)
obj1_df

DataFrame[sno: bigint, name: string, amt: bigint]

In [91]:
obj1_df.show()

+---+-----+---+
|sno| name|amt|
+---+-----+---+
|  1|Test1| 20|
|  2|Test2| 30|
|  3|Test3| 40|
+---+-----+---+